/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
    /* background-color: #58181F; */
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }

  b {
    font-weight: bold;
  }